<%= simple_form_for(@diemtrentuyen) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :matuyen %>
    <%= f.input :vido %>
    <%= f.input :kinhdo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
