<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @diemtrentuyen.id %>
</p>

<p>
  <b>Matuyen:</b>
  <%= @diemtrentuyen.matuyen %>
</p>

<p>
  <b>Vido:</b>
  <%= @diemtrentuyen.vido %>
</p>

<p>
  <b>Kinhdo:</b>
  <%= @diemtrentuyen.kinhdo %>
</p>


<%= link_to 'Edit', edit_diemtrentuyen_path(@diemtrentuyen) %> |
<%= link_to 'Back', diemtrentuyens_path %>
